{% extends "news/layout.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <img src="{{ article.image.url }}" alt="" class="img-responsive">
    </div>
    <div class="row">
      <h1 class="text-center">{{ article.title }}</h1>
    </div>
    <div class="row">
      <p>{{ article.post }}</p>
    </div>
    <div class="row">
      <p>Posted <em>{{ article.pub_date|timesince }}</em> by <strong>{{ article.editor.first_name }}</strong></p>
    </div>
  </div>
{% endblock content %}