{% extends "news/layout.html" %}
{% load bootstrap4 %}
{% block content %}
  <div class="container">
    {{ block.super }}
    <!-- Looping through news -->
    {% for news_item in news %}
      <div class="card text-center my-5 rounded-0 bg-light">

        <!-- The news article -->
        <div class="card-header pb-0">
          <!-- {{ news_item.tags.all }} -->
          <p>tags</p>
        </div>
        <div class="card-body">
          <div class="row">
            
            <!-- The first part -->
            <div class="card-body col-md-6 text-left">
              <h5 class="card-title">{{ news_item.title }}</h5>

              <!-- The summary -->
              <div class="text-left">
                {% if news_item.summary %}
                  <p class="card-text">{{ article.summary }}</p>
                {% else %}
                  <p class="card-text">This
                    <a href="{% url 'news:article' news_item.id %}" >
                    <strong>'{{ news_item.title }}'</strong>
                    </a>  is a good read. </p>
                {% endif %}
                <a href="{% url 'news:article' news_item.id %}" class="btn btn-info rounded-0">Read</a>
              </div>
            </div>

            <!-- The image -->
            <div class="col-md-6">
              <div class="float-right">
                <img 
                  class="card-img-right float-right" 
                  src="{{ news_item.image.url }}" 
                  alt="Card image cap" 
                  style="width: 400px; height:auto;"
                >
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-muted">
          Posted {{ news_item.pub_date|timesince }} by {{ news_item.editor.first_name }}
        </div>
      </div>

      <!-- If empty -->
      {% empty %}
      <div class="row jumbotron">
        <h2 class="text-center">There are no news</h2>
      </div>
    {% endfor %}

    <!-- Looping trough news end -->
    <div class="container-fluid">
      <form action="{% url 'news:news_today' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
          {% bootstrap_field field %}
        {% endfor %}
        <input type="submit" value="Subscribe">
      </form>
    </div>
  </div>
{% endblock content %}