{% extends "news/layout.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      {% if articles %}
        <h2>Found {{ articles|length }} of searched term {{ message }} </h2>
      {% endif %}
    </div>
    <div class="row">
      {% if articles %}
        <ul>
          {% for article in articles %}
          <div class="card">
            <li><h1 class="card-title p-2 px-3 my-2">{{ article.title }}</h1></li>
          </div>
        {% endfor %}
      {% else %}
        <h1>Nothing was returned</h1>
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock content %}d