{% extends "news/layout.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      {% if articles %}
        <h2>Found {{ articles|length }} of searched term {{ message }} </h2>
      {% endif %}
    </div>
    <div class="row">
      {% if articles %}
        <ul>
          {% for article in articles %}
          <div class="card my-3">
            <a href="{% url 'news:article' article.id %}">
              <li class="card-title"><h1 class="card-title p-2 px-3 my-2">{{ article.title }}</h1></li>
            </a>
          </div>
        {% endfor %}
      {% else %}
        <h1>I am sorry, nothing came back from your search.</h1>
        </ul>
      {% endif %}
    </div>
  </div>
{% endblock content %}